*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

body {
	font-family: "Raleway", sans-sarif;
}

.navi {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
}

.navi li {
	float: left;
}

.navi li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.navi li a:hover {
	color: #FFBF00;
	transition: all .3s ease-in-out;
}

.about-text p {
	display: block;
	text-align: left;
}

.about-text p {
	color: #000000;
	letter-spacing: 1px;
	line-height: 20px;
	font-size: 18px;
	margin-bottom: 12px;
}

.active {
	background-color: chocolate;

}

.content {
	margin: 20px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	text-align: center;
}

.flex-item {
	padding: 20px;
	flex: 50%;
	margin: 5px;
	border-radius: 5px;
}

.flex-item i, h2 {
	color: black;
	font-size: 32pt;
}

.flex-item p {
	color: black;
}

.flex-navy {background-color: #0D4C92;}
.flex-blue {background-color: #59C1BD;}
.flex-teal {background-color: #A0E4CB;}
.flex-mint {background-color: #CFF5E7;}

@media (max-width: 800px) {
	.flex-container {
		flex-direction: column;

	}
}

.button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px;
	border-radius: 5px;
}

.button a {
	text-decoration: none;
	color: white;
}


.button2 {
	background-color: #E0144C;
}


#Mahasiswa {
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}

#Mahasiswa td, #Mahasiswa th{
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: #CCC;
}

#Mahasiswa th {
	padding: 20px;
	text-align: left;
	background-color: #000000;
	color: #FFFFFF;
}

#Mahasiswa tr:nth-child(even) {
	background-color: #D8D9CF;
}

.form-add {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

label {
	font-weight: bold;
}

input[type=text],
input[type=number],
input[type=file],
input[type=date],
select {
	width: 100%;
	padding: 10px;
	margin: 15px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
}

input[type=submit]:hover {
	background-color: #4caf49;
}

input[type=submit] {
	width: 100%;
	background-color: #4caf49;
	color: white;
	padding: 14px;
	border: none;
	border-radius: 5px;
	margin: 10px;
}

textarea {
	width: 100%;
	height: 150px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin: 15px 0;
}

.check-container {
	display: block;
	margin: 10px;
}